.widgetsm {
    flex: 1;
    box-shadow: 2px 1px 8px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 1px 8px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 1px 8px -4px rgba(0,0,0,0.75);
    padding: 20px;
    margin-right: 20px;
}


.widgetsmTitle {
    font-size: 22px;
    font-weight: 600;
}

.widgetUserImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}


.widgetsmList {
    margin: 0;
    padding: 0;
    list-style: none;
}


.widgetsmListItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}


.widgetsmUser {
    display: flex;
    flex-direction: column;
}

.widgetsmUsername {
    font-weight: 600;
}

.widgetsmUserTitle {
    font-weight: 300;
}

.widgetsmButton {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 6px;
    padding: 7px 10px;
    background-color: #eeeef7;
    color: #555;
    cursor: pointer;
}

.widgetsmIcon {
    font-size: 16px;
    margin-right: 5px;
}